.todo-list {
  list-style-type: none;
  padding: 0px;
}

.todo-item {
  margin-bottom: 0.5rem;
}

.todo-item input {
  margin-right: 0.5rem;
}

.todo-item button {
  margin-left: 0.5rem;
}

.app {
  margin: 2rem;
}